div.paginationwrap{
	text-align: center;
	margin-top:0.5rem;
	box-sizing: border-box;
}
div.pagination{
	overflow: hidden;
	display: inline-block;
	box-sizing: border-box;
}
div.pagination a{
	text-decoration: none;
	box-sizing: border-box;
}
div.pagination a.pre{
	float:left;
	height:0.27rem;
	width:0.32rem;
	border-radius: 0.04rem;
	margin-right:0.08rem;
	background-color:rgb(55,141,248);
	background-image:url(./pagination-pre.png);
	background-repeat:  no-repeat;
	background-position:  center;
	/*background-size:cover;*/
}
div.pagination a.page{
	float:left;
	height:0.27rem;
	width:0.32rem;
	/*background:rgb(255,255,255);*/
	border:0.01rem solid rgb(220,220,220);
	line-height: 0.27rem;
	text-align: center;
	font-size: 0.12rem;
	color:rgb(0,0,0);
	border-radius: 0.02rem;
	margin-right:0.1rem;
}
div.pagination a.page:hover{
	border-color:rgb(55,141,248);
}
div.pagination a:hover{
	text-decoration: none;
}
div.pagination a.active{
	background:rgb(55,141,248);
	color:rgb(255,255,255);
	border-color:rgb(55,141,248);
}
div.pagination a.shot{
	float:left;
	height:0.27rem;
	width:0.32rem;
	/*background:rgb(255,255,255);*/
	line-height: 0.27rem;
	text-align: center;
	margin-right:0.1rem;
	text-align: center;
	font-size: 0.12rem;
	color:rgb(0,0,0);
	font-size: 0.14rem;
	cursor:default;
	border:0.01rem solid rgba(220,220,220,0);
}
div.pagination a.next{
	float:left;
	height:0.27rem;
	width:0.32rem;
	border-radius: 0.04rem;
	background:rgb(55,141,248);
	margin-left:-0.02rem;
	margin-right:0.25rem;
	background-color:rgb(55,141,248);
	background-image:url(./pagination-next.png);
	background-repeat:  no-repeat;
	background-position:  center;
	/*background-size:cover;*/
}
div.pagination span{
	float:left;
	margin-left:0.05rem;
	text-align: center;
	font-size: 0.12rem;
	color:rgb(0,0,0);
	height:0.27rem;
	line-height: 0.27rem;
	box-sizing: border-box;
}
div.pagination input{
	float:left;
	height:0.27rem;
	width:0.27rem;
	border-radius: 0.04rem;
	background:rgba(255,255,255,0);
	border:0.01rem solid rgb(236,210,200);
	margin-left:0.08rem;
	text-align: center;
	font-size: 0.12rem;
	color:rgb(0,0,0);
	outline: none;
	box-sizing: border-box;
}
div.pagination button.search{
	float:left;
	height:0.27rem;
	line-height: 0.228rem;
	text-align: center;
	width:0.27rem;
	border-radius: 0.04rem;
	background:rgb(55,141,248);
	margin-left:0.1rem;
	font-size: 0.14rem;
	color:rgb(255,255,255);
	border:none;
	outline: none;
	padding:0;
	cursor:pointer;
	box-sizing: border-box;
}
div.pagination a.disabled{
	opacity: 0.8;
	cursor: not-allowed;
}
